.header-about {
  height: 70vh;
}
.about-textbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--main-bg-color);
}

.about-headerText {
  background-color: var(--main-tx-color);
  color: var(--main-bg-color);
  padding: 0.5rem 1rem;

  border-radius: 1.6rem;
  width: 45.5rem;
}
.about-listText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 5rem;
}
.about-listText li {
  list-style: none;
}
.tabcontent {
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}
.tabcontent p {
  color: var(--white);
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.About-contentbox {
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: var(--main-tx-color);
  color: var(--main-bg-color);
  padding: 2rem;
  margin-bottom: 2rem;
}
.About-contentbox i {
  font-size: 5rem;
  border: 0.5rem dotted var(--main-bg-color);
  padding: 1rem;
  border-radius: 1.6rem;
}

.About-contentbox div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.About-contentbox div > p {
  color: var(--main-bg-color);
}
/* .tabAbout-textbox {
  margin-bottom: 2rem;
} */
.tabAbout-textbox img {
  width: 90rem;
}
