* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  font-size: 1.5rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

nav {
  display: flex;
  padding: 2rem 10rem;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #217074;
}
.logo {
  height: 50%;
}
.main-nav,
.box-login {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}
.main-nav li > a,
.box-login li > a {
  text-decoration: none;
  color: white;
}
.sec-header {
  display: grid;
  height: 85vh;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.text-box,
.image-box {
  padding: 10rem 5rem;
}
.image-box {
  width: 100%;
  padding: 2rem 0 0 7rem;
}
.image-box img {
  width: 80%;
}

.header-hero {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #217074;
}
.paragraph-hero {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.button-hero {
  background-color: #217074;
  padding: 1rem;
  border: none;
  color: white;
  margin-bottom: 1rem;
}
.link-hero {
  font-size: 1.5rem;
}

.link-hero a {
  text-decoration: none;
  color: #217074;
}
